version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.1-apache-node-browsers
    working_directory: ~/application
    steps:
      - checkout
      - run: composer install
      - run: vendor/bin/phpunit